.explore-title {
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 1em;
}
.explore-group {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    grid-column-gap: 1em;
  }
.explore {
    border: 1px solid #00000012;
    width: 100%;
    height: 5em;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 3px 1px #00000012;
    cursor: pointer;
  }
.explore .explore-cover {
    width: 7em;
    height: 5em;
    background-image: url('../img/explore1.webp');
    background-size: cover;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
  }
.explore .explore-text {
    font-weight: bold;
    padding-left: 1.5em;
  }
.explore .explore-2 {
  background-image: url('../img/explore2.webp');
}
.explore .explore-3 {
  background-image: url('../img/explore3.webp');
}